*
  box-sizing: border-box

body
  background-color: #FFFFFF
  font-family: 'Inter', Helvetica, sans-serif
  //font-family: 'Playfair Display', serif
  //font-family: 'Muli', sans-serif

.container
  margin: 0 auto
  max-width: 1120px
  &-lg
    max-width: 1220px

img
  max-width: 100%
  height: auto
